.blog-one__item {
    p {
        margin-bottom: 40px;
    }
    blockquote {
        font-size: 24px;
        line-height: 38px;
        font-weight: 300;
        font-style: italic;
        color: $title;
        margin-bottom: 30px;
        padding: 0 40px;
        @media (max-width: 375px) {
            padding: 0 20px;
            line-height: 27px;
        }
        .blog__blockquote-author {
            @media (max-width: 540px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    .blog__blockquote-author::before {
        margin-right: auto;
        margin-left: 0;
    }
}

.blog-one {
    &__tags {
        margin-bottom: 30px;
        .blog-one__tags-title {
            @media (max-width: 540px) {
                font-size: 20px;
                line-height: 31px;
            }
        }
    }

    &__tags-title {
        color: $title;
        @extend %title-font;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 15px;
    }

    &__tags-link {
        margin-bottom: 10px;
        margin-right: 23px;
        padding: 0 16px;
        color: #8f8d8d;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid rgba(#454647, 0.5);
        border-radius: 14px;
        display: inline-block;
    }

    &__links {
        padding: 40px 0 32px;
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-between;
        @media (max-width: 540px) {
            padding: 30px 0;
        }
    }

    &__link {
        width: 243px;
        position: relative;
        font-size: 14px;
        color: #707070;
        font-weight: 600;
        span {
            @media (max-width: 540px) {
                display: none;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
        }
    }

    &__link-prev {
        padding-left: 44px;
        &::before {
            background-image: url("../images/arrow-prev.svg");
            left: 0;
        }
    }

    &__link-next {
        padding-right: 44px;
        text-align: right;
        &::before {
            background-image: url("../images/arrow-next.svg");
            right: 0;
        }
    }

    &__comments {
        .blog-one__comments-title {
            @media (max-width: 540px) {
                font-size: 20px;
                line-height: 31px;
            }
        }
        .blog-one__comments-name {
            @media (max-width: 540px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    &__comments-title {
        color: $title;
        @extend %title-font;
        line-height: 31px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &__comments-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        @media (max-width: 540px) {
            flex-wrap: wrap;
        }
    }

    &__comments-avatar {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 13px;
        @media (max-width: 540px) {
            width: 45px;
            height: 45px;
        }
    }

    &__comments-info {
        @media (max-width: 540px) {
            margin-top: -46px;
        }
    }

    &__reply {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        color: #707070;
        cursor: pointer;
        @media (max-width: 540px) {
            margin-left: 0px;
            margin-top: 5px;
        }
    }

    &__comments-name {
        color: $title;
        @extend %title-font;
        line-height: 23px;
        @media (max-width: 540px) {
            margin-left: 55px;
        }
    }
    &__comments-date {
        margin-bottom: 10px;
        font-size: 14px;
        color: #a1a1a1;
        @media (max-width: 540px) {
            margin-left: 55px;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .blog-one__form-title {
            @media (max-width: 540px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    &__form-title {
        margin-bottom: 25px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }

    &__form-textarea {
        width: 100%;
        border: 1px solid #dfdfdf;
        border-radius: 24px;
        padding: 14px 17px;
        min-height: 125px;
        resize: none;
        margin-bottom: 12px;
        &::placeholder {
            color: #a1a1a1;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }

    &__form-input {
        border: 1px solid #dfdfdf;
        border-radius: 20px;
        padding: 6px 17px;
        margin-bottom: 20px;
        width: 49%;
        @media (max-width: 540px) {
            width: 100%;
        }
        &::placeholder {
            color: #a1a1a1;
            font-size: 16px;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            line-height: 27px;
        }
    }

    &__form-label {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: #a1a1a1;
    }
    &__form-btn {
        border: none;
        background: $title;
        border-radius: 21px;
        color: #fff;
        font-weight: 600;
        padding: 6px 60px;
        cursor: pointer;
        @media (max-width: 540px) {
            width: 100%;
        }
    }
}
