.breadcrumbs {
    background: rgba(#dfdfdf, 0.5);
    padding: 13px 14px;
    overflow-x: auto;
    &__list {
        display: flex;
        //overflow-x: auto;
    }
    &__item {
        position: relative;
        padding-right: 8px;
    }
    &__item::after {
        content: "/";
        position: absolute;
    }

    &__item:last-child::after {
        display: none;
    }
    &__link {
        font-size: 14px;
        color: $default;
    }

    &--map {
        position: relative;
        z-index: 4;
    }
}
