.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 43px 0 46px 0;
    }

    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
