.inspiration {
    padding-top: 100px;
    position: relative;
    @media (max-width: 768px) {
        padding-top: 80px;
    }
    @media (max-width: 540px) {
        padding-top: 60px;
    }
    @media (max-width: 375px) {
        padding-top: 40px;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 362px;
        background-image: url("../images/inspiration-bg.jpg");
        z-index: -1;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images {
        margin-right: 78px;
        margin-left: -230px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__title {
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 1px;
            background: #6d7278;
        }
    }
    &__text {
        margin-bottom: 30px;
    }
    &__content {
        max-width: 825px;
    }

    &__list {
        .inspiration__item {
            @media (max-width: 540px) {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    &__item {
        color: $title;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 33px;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }

    &__item-num {
        @media (max-width: 540px) {
            margin-left: 10px;
        }
    }

    &__line {
        height: 2px;
        background-color: $title;
        border-radius: 4px;
        margin-top: -2px;
    }
}
