.new-collection {
    text-align: center;
    padding: 45px 0 35px;
    &__title {
        color: $title;
        font-size: 36px;
        line-height: 51px;
        padding-bottom: 25px;
        margin-bottom: 25px;
        position: relative;
        @extend %title-font;
        &::after {
            content: "";
            position: absolute;
            width: 250px;
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: #6d7278;
        }
    }
    &__text {
        min-width: 730px;
        margin: 0 auto 30px;
    }
}
