@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "header";
@import "menu";
@import "footer";
@import "rightside-menu";
@import "top";
@import "new-collection";
@import "collection";
@import "decor";
@import "works-path";
@import "gallery";
@import "blog-box";
@import "breadcrumbs";
@import "about";
@import "inspiration";
@import "partners";
@import "map";
@import "contact";
@import "blog";
@import "pagination";
@import "blog-one";

.logo {
    margin: 0 auto;
    @media (max-width: 768px) {
        margin: 0;
    }
    @media (max-width: 540px) {
        order: -1;
    }
}
