.works-path {
    padding: 80px 0 30px;
    &__title {
        @extend %title-font;
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 51px;
    }

    &__items-box {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, 0.7);
        position: relative;
        @media (max-width: 650px) {
            border: none;
            flex-wrap: wrap;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $title;
            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    &__item {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        @media (max-width: 840px) {
            width: 350px;
        }
        @media (max-width: 650px) {
            width: 100%;
        }
        .works-path__item-title {
            @media (max-width: 540px) {
                font-size: 16px;
                line-height: 27px;
            }
        }
    }

    &__item--consultation,
    &__item--production {
        padding-bottom: 38px;
    }
    &__item--production {
        margin-left: 317px;
        @media (max-width: 840px) {
            margin-left: 50px;
        }
        @media (max-width: 650px) {
            margin-left: 0px;
            order: 1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, 0.7);
            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    &__item--measuring {
        padding-top: 38px;
        margin-left: 305px;
        @media (max-width: 840px) {
            margin-left: 250px;
        }
        @media (max-width: 768px) {
            margin-left: 100px;
        }
        @media (max-width: 650px) {
            margin-left: 0;
            padding-top: 0;
            padding-bottom: 38px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, 0.7);
            @media (max-width: 650px) {
                display: none;
            }
        }
    }

    &__item-title {
        margin-left: 13px;
        color: $title;
        @extend %title-font;
    }

    &__item-text {
        margin-top: 13px;
    }
}
